#request-password-change-main-container {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

@media (width<=515px) {
  #request-password-change-main-container {
    max-width: 380px;
  }
}

@media (width<=420px) {
  #request-password-change-main-container {
    max-width: 280px;
    top: 25%;
  }
}

.request-password-change-email-container {
  max-height: 500px;
  margin-block: auto;
}

.request-password-change-footer-description {
  max-width: 500px;
  font-family: 'SansDeva';
  font-size: 0.8rem;
}

.request-password-change-send-request {
  margin-top: 2rem;
}

.request-password-change-send-request-button {
  max-width: 300px;
  padding: 0.7rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 300ms;
  color: #f3f1e3;
  background: #edb572;
}

.request-password-change-send-request-button:hover {
  background: #d8a668;
}
