.logout-container {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.logout-container:hover {
  color: #a5a5a5;
  transform: scale(1.1);
  transition: 80ms;
}

.logout-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

@media (width<=460px) {
  .logout-icon {
    font-size: 1.6rem;
  }
}

.logout-title {
  font-family: 'SansDeva';
  font-size: 0.9rem;
}

@media (width<=460px) {
  .logout-title {
    display: none;
  }
}
