.content-shared-with-mental-health-expert-expert-info-container {
  max-width: 300px;
  width: 100%;
  max-height: 340px;
  margin-top: 0.5rem;
  margin-left: 12rem;
  padding-block: 2.5rem;
  border-radius: 0.8rem;
  background: #f3f1e3;
}

@media (width<=1176px) {
  .content-shared-with-mental-health-expert-expert-info-container {
    display: none;
  }
}

.content-shared-with-mental-health-expert-expert-photo-container {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  overflow: hidden;
  border-radius: 360px;
}

.content-shared-with-mental-health-expert-photo {
  max-width: 200px;
  width: 100%;
  border-radius: 360px;
}

.content-shared-with-mental-health-expert-expert-contact-info {
  margin-top: 1.5rem;
  /* background: powderblue; */
  margin-inline: 2.5rem;
}

.content-shared-with-mental-health-expert-phone-container {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}

.content-shared-with-mental-health-expert-phone-value {
  max-width: 240px;
  margin: 0;
  word-wrap: break-word;
  font-family: 'Klee One';
  font-size: 1rem;
}

.content-shared-with-mental-health-expert-email-container {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.content-shared-with-mental-health-expert-email-value {
  max-width: 240px;
  margin: 0;
  margin-top: -0.1rem;
  word-wrap: break-word;
  font-family: 'Klee One';
  font-size: 1rem;
}

.content-shared-with-mental-health-expert-organization-container {
  display: flex;
  justify-content: center;
}

.content-shared-with-mental-health-expert-organization-value {
  max-width: 240px;
  margin-block: 0.2rem;
  font-family: 'Klee One';
  font-size: 1rem;
  word-wrap: break-word;
}
