.mental-health-experts-assignment-responses-modal {
  margin-inline: -1rem;
}

.mental-health-experts-assignment-responses-main-container {
  min-height: 400px;
  margin-bottom: 4rem;
  position: relative;
}

.mental-health-experts-assignment-responses-assignment-content-text {
  margin-inline: 1rem;
  margin-block: 0 1rem;
  padding: 0.5rem;
  font-family: 'SansDeva';
  font-size: 1.2rem;
  line-height: 1.8;
  border-end-start-radius: 0.6rem;
  border-end-end-radius: 0.6rem;
  border: 1px solid #34688f;
  border-top: none;
  background: #bcd0e0;
}

.mental-health-experts-assignments-assignment-responses-main-container {
  margin-bottom: 6rem;
}

.mental-health-experts-assignments-assignment-responses-title {
  margin-inline: 1rem;
  margin-block: 1rem 0;
  font-family: 'SansDeva';
}

.mental-health-experts-assignments-assignment-responses-container {
  max-width: 700px;
  margin-inline: 1rem;
}

.mental-health-experts-assignments-assignment-responses-response-main-container {
  clear: both;
}

.mental-health-experts-assignments-assignment-responses-response-container {
  max-width: 350px;
  width: 100%;
  margin-bottom: 0.2rem;
  float: left;
  border-start-start-radius: 0.4rem;
  border-end-end-radius: 0.4rem;
  color: #f3f1e3;
  background: #34688f;
}

.assignment-responses-other-person {
  max-width: 350px;
  width: 100%;
  float: right;
  margin-bottom: 0.2rem;
  border-start-end-radius: 0.4rem;
  border-end-start-radius: 0.4rem;
  color: #34688f;
  background: #bcd0e0;
}

.mental-health-experts-assignments-assignment-responses-response-container-content-text {
  margin: 0;
  padding: 0.5rem;
  font-family: 'SansDeva';
  font-size: 0.9rem;
  line-height: 1.4;
}

.mental-health-experts-assignments-assignment-responses-response-container-content-date {
  margin: 0;
  padding: 0.3rem 1.5rem;
  font-family: 'SansDeva';
  font-size: 0.7rem;
  line-height: 1.4;
  float: right;
}

.mental-health-experts-assignments-assignment-responses-actions-container {
  clear: both;
  min-height: 40px;
  margin-block: -1.5rem 0.5rem;
}

.mental-health-experts-assignments-assignment-responses-action-add-response-icon {
  position: absolute;
  right: 4%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 360px;
  font-size: 1.4rem;
  transition: 150ms;
  cursor: pointer;
  color: #f3f1e3;
  background: #34688f;
}

.mental-health-experts-assignments-assignment-responses-action-add-response-icon:hover {
  transform: scale(1.2);
  background: #82a3bc;
}
