.content-shared-with-mental-health-expert-main-container {
  max-width: 100vw;
  min-height: 100vh;
  margin-top: -2rem;
  margin-inline: -2rem;
  padding: 2rem;
  background: #cce5f1;
}

.content-shared-with-mental-health-expert-hero {
  max-width: 700px;
  margin-inline: 0.5rem;
}

.content-shared-with-mental-health-expert-hero-title {
  font-family: 'Klee One';
}

.content-shared-with-mental-health-expert-hero-username {
  margin-right: 10px;
  font-family: 'Klee One';
  font-weight: 700;
  color: #edb572;
}

.content-shared-with-mental-health-expert-title {
  max-width: 300px;
  margin: 0.3rem 0rem;
  font-family: 'Klee One';
  /* background: yellow; */
}

.content-shared-with-mental-health-expert-subtitle {
  margin-bottom: 2rem;
  font-family: 'Klee One';
  font-weight: 600;
}

.content-shared-with-mental-health-expert-container {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
