.sharing-users-post-header {
  cursor: pointer;
  /* font-size: 0.88rem; */
}

.sharing-users-post-header-title {
  margin-block: 0.5rem;
  font-family: 'Overlock';
  font-size: 1.8rem;
  text-align: center;
}

.sharing-users-post-header-datetime {
  margin-block: 0.4rem;
  font-family: 'SansDeva';
  font-size: 0.75rem;
  cursor: pointer;
}

.sharing-users-post-content {
  cursor: pointer;
}

.sharing-users-post-content-text {
  font-family: 'SansDeva';
  line-height: 1.45rem;
  letter-spacing: 0.1px;
  text-align: justify;
  cursor: pointer;
}

.sharing-users-main-post-tags {
  max-height: 130px;
  margin-bottom: 1rem;
  overflow-y: hidden;
}

.sharing-users-post-tags-subtitle {
  font-family: 'SansDeva';
}

.sharing-users-post-tags .post-container-main-tags .post-container-tags {
  height: fit-content;
  opacity: 1;
}

.sharing-users-main-post-emotions {
  max-height: 200px;
  overflow-y: hidden;
}

.sharing-users-post-emotions-subtitle {
  font-family: 'SansDeva';
}

.sharing-users-post-emotions .post-container-emotions {
  height: fit-content;
  opacity: 1;
}
