main {
  margin-inline: 1rem;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

#modal {
  position: absolute;
  inset: 2rem;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 1.4rem;
  z-index: 1;
  width: fit-content;
}

::backdrop {
  background-color: darkgoldenrod;
}

dialog::backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: darkgoldenrod;
}

.list-of-posts-author {
  padding: 0.5rem;
}

.list-of-posts-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.8rem;
  color: #fff;
  margin-top: 0.3rem;
  width: 65%;
  height: 70vh;
  overflow-y: scroll;
}

button[data-action-update="update"] {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  top: 0.3rem;
  left: 0;
}

button[data-action-delete="delete"] {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  top: 0.3rem;
  right: 0;
}

button[data-action-add="add"] {
  background: none;
  outline: none;
  border: none;
  padding: 1rem;
  background: #e1e1e1;
}

button[data-action-update="update"]:hover {
  cursor: pointer;
}

button[data-action-delete="delete"]:hover {
  cursor: pointer;
}

button[data-action-add="add"]:hover {
  background: #f4f4f4;
  cursor: pointer;
}

button[data-action-add="add"] svg {
  margin-right: 2rem;
}

button[data-action-update="update"] svg,
button[data-action-delete="delete"] svg,
button[data-action-add="add"] svg {
  transform: scale(1.8);
  /* color: #365c6d; */
  color: #000;
}

.main-container {
  position: relative;
}

.post-container {
  margin-top: 0.3rem;
  /* border: 1px solid blue; */
  padding: 0.3rem;
  background: #ffeebb;
}

.post-container:hover {
  cursor: pointer;
}

.post-container-content {
  margin-top: 1.5rem;
}

.post-header {
  background: #89cff0;
}

.post-header h1 {
  /* border: 1px solid green; */
  padding: 0.2rem;
  text-align: center;
}

.post-content {
  border: none;
}

.overlay-mask {
  position: absolute;
  top: 0.3rem;
  background: transparent;
  width: 100%;
  height: 10%;
  visibility: visible;
}

.post-by-id {
  margin: 2rem;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.post-by-id-container {
  overflow: scroll;
  height: 80%;
}

.post-by-id-container pre {
  height: 100%;
}

.post-by-id-container h1:hover,
p:hover,
pre:hover {
  cursor: default;
}

.post-by-id-container-edit {
  height: 80%;
  overflow: scroll;
}

.post-by-id-container-edit input[name="title"] {
  margin-inline: 2rem;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  width: 70%;
  padding: 0.3rem;
  border-radius: 3px;
}

.post-by-id-container-edit input[name="title"]:focus-within {
  border: 1px solid rgb(188, 188, 253);
}

.post-by-id-container-edit-textarea {
  height: 100%;
  border: none;
  text-align: justify;
}

.post-by-id-container-edit-textarea:hover {
  background: rgb(250, 255, 255);
  outline: none;
  cursor: text;
}

.post-by-id-container-edit-textarea:focus-within {
  outline: 1px solid #e1e1e1;
  margin: 0.2rem;
}

.post-by-id-container-edit-submit-button {
  text-align: center;
  margin: 1rem auto;
  padding: 0.4rem 0.5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(156, 242, 180);
  outline: none;
  border: none;
  color: #000;
  font-weight: 500;
}
