/* * {
  margin: 0;
} */

@font-face {
  font-family: 'Klee One';
  src: url('../public/assets/fonts/Klee_One/KleeOne-Regular.ttf');
}

@font-face {
  font-family: 'Overlock';
  src: url('../public/assets/fonts/Overlock/Overlock-Regular.ttf');
}

input[type='text'],
textarea {
  /* border: 1px solid #a8a8a8; */
  outline: none;
  /* padding-inline: 0.2rem; */
  border-width: 1px;
  margin-top: 5px;
}

main {
  height: 100vh;
  overflow-y: scroll;
  padding-inline: 2rem;
  box-sizing: border-box;
}
