/* * {
  margin: 0;
} */

@font-face {
  font-family: 'Klee One';
  src: url('../public/assets/fonts/Klee_One/KleeOne-Regular.ttf');
}

@font-face {
  font-family: 'SansDeva';
  src: url('../public/assets/fonts/Playpen_Sans_Deva/static/PlaypenSansDeva-ExtraLight.ttf');
}

@font-face {
  font-family: 'Overlock';
  src: url('../public/assets/fonts/Overlock/Overlock-Regular.ttf');
}

input[type='text'],
textarea {
  /* border: 1px solid #a8a8a8; */
  outline: none;
  /* padding-inline: 0.2rem; */
  border-width: 1px;
  margin-top: 5px;
}

#auth-container {
  margin: auto;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: 80ms;
  border-radius: 0.5rem;
  background: #edb572;
  overflow: hidden;
}

.auth-container-hidden {
  position: relative;
  opacity: 0;
}

.auth-container-visible {
  opacity: 1;
}

.auth-box-title {
  margin: 0.3rem;
  font-family: 'SansDeva';
  font-size: 0.9rem;
  line-height: 1.4;
  color: #fff;
}

.auth-timer {
  font-family: 'SansDeva';
  font-size: 0.9rem;
  line-height: 1.4;
  color: #fff;
}

.auth-timer-actions-container {
  display: flex;
  justify-content: space-around;
}

.auth-timer-action {
  padding: 0.5rem 1rem;
  font-family: 'SansDeva';
  font-size: 0.9rem;
  line-height: 1.4;
  outline: none;
  border: none;
  border-radius: 0.4rem;
}

main {
  height: 100vh;
  overflow-y: scroll;
  padding-inline: 2rem;
  box-sizing: border-box;
}
