.sharing-users-give-assignment-container {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0.5rem 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: #f3f1e3;
  background: #34688f;
}

.sharing-users-give-assignment-container:hover {
  border: 1px solid #34688f;
  color: #34688f;
  background: none;
}

.sharing-users-give-assignment-span {
  font-family: 'Klee One';
  font-size: 1rem;
}

@media (width <= 650px) {
  .sharing-users-give-assignment-span {
    display: none;
  }
}

@media ((width>=470px) AND (width<=550px)) {
  .sharing-users-give-assignment-span {
    display: flex;
  }
}

.sharing-users-give-assignment-icon {
  padding-top: 0.2rem;
  font-size: 1.2rem;
}
