#navigation-bar-main-container {
  margin-inline: -2rem;
  padding-block: 1rem;
  background: #f3f1e3;
}

.navigation-bar-container {
  padding-inline: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar-features {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation-bar-action {
  font-size: 0.9rem;
  font-family: 'SansDeva';
  color: #000;
  text-decoration: none;
}

.navigation-bar-action:hover {
  color: #a5a5a5;
  font-weight: 500;
  transform: scale(1.1);
  transition: 80ms;
}
