#post-by-id-main-container {
  max-width: 100vw;
  min-height: 100vh;
  margin-inline: -2rem;
  padding-inline: 2rem;
  /* margin-top: 20px; */
  /* display: flex; */
  /* justify-content: space-evenly; */
  background: #cce5f1;
}
