.main-container {
  max-width: 340px;
  width: 100%;
  position: relative;
  margin: 0.5rem;
  border-radius: 0.4rem;
}

@media (width <= 680px) {
  .main-container {
    margin-inline: auto;
  }
}

.main-single-col {
  max-width: 800px;
  display: flex;
  /* background: red; */
}

.post-container {
  max-width: 340px;
  position: relative;
  margin-top: 0.3rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  cursor: pointer;
  background: #f3f1e3;
}

.post-container-single-col {
  max-width: 340px;
  width: 100%;
  margin-top: 0px;
  border-bottom-left-radius: 0.4rem;
  border-top-right-radius: 0rem;
}

.post-container-content {
  margin-top: 1.5rem;
  margin-inline: 1rem;
}

.post-header {
  font-family: 'Overlock';
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000;
  /* background: #89cff0; */
}

.post-header h1 {
  margin-bottom: 1rem;
  padding: 0.2rem;
  text-align: center;
  font-size: 1.2rem;
}

.post-information {
  height: 100%;
}

.post-content {
  width: 100%;
  height: fit-content;
  padding-right: 0.7rem;
  text-align: justify;
  font-family: 'SansDeva';
  font-size: 1rem;
  border: none;
  resize: none;
  line-height: 1.45rem;
  background: #f3f1e3;
}

.post-date {
  margin-top: 0.4rem;
  font-family: 'SansDeva';
  font-size: 1rem;
  line-height: 1.3rem;
}

.post-date p {
  margin-block: 0;
  font-size: 0.8em;
  text-decoration: none;
  color: #920d0d;
}

.post-date p > span {
  margin-left: 0.7rem;
}

.post-date p:nth-child(2) {
  color: #c93232;
}

.post-date-value {
  display: none;
}

button[data-action-update='update'] {
  position: absolute;
  top: 0.4rem;
  left: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.post-container-action-icon {
  transform: scale(1.8);
  color: #000;
  transition: 200ms;
}

.post-container-action-icon:hover {
  transform: scale(2.3);
  color: #edb572;
}

button[data-action-delete='delete'] {
  position: absolute;
  top: 0.4rem;
  right: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.post-overlay {
  max-width: 400px;
  width: 100%;
  min-height: 99%;
  position: absolute;
  top: 4.3px;
  left: 0;
  z-index: 1;
  opacity: 0.7;
  border-radius: 0.4rem;
  visibility: hidden;
  border-radius: 0.4rem;
  background: #000;
}

.post-overlay-single-col {
  max-width: 800px;
  min-height: 100%;
  top: 0;
}

input[name='share-export'] {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0.45rem;
  right: 0.15rem;
  z-index: 2;
  border: none;
  outline: none;
  visibility: hidden;
  cursor: pointer;
}

.post-reveal-action-containers {
  max-width: 370px;
  width: 100%;
  display: block;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  background: #f2e0c4;
}

.post-reveal-action-containers-single-col {
  padding: 0.2rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.post-tags-reveal-action-main-container {
  max-width: 370px;
  font-family: 'SansDeva';
}

.post-tags-reveal-action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  background: #eeeeee;
}

.post-tags-reveal-action-container-single-col {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.post-reveal-option-title {
  margin: 0;
  font-weight: 300;
}

.post-reveal-expand-button {
  cursor: pointer;
}

.post-emotions-reveal-action-main-container {
  max-width: 370px;
  margin-top: 0.15rem;
  font-family: 'SansDeva';
}

.post-emotions-reveal-action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: #eeeeee;
}
