.content-shared-with-mental-health-expert-posts {
  max-width: 800px;
  width: 100%;
  max-height: 410px;
  margin-left: -0.5rem;
  margin-bottom: 2rem;
  padding: 0rem 2rem 2rem 0rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (height>=720px) {
  .content-shared-with-mental-health-expert-posts {
    max-height: 640px;
    margin-left: -0.5rem;
  }
}

@media (width<=720px) {
  .content-shared-with-mental-health-expert-posts {
    margin-inline: 0rem;
  }
}

@media ((width>680px) AND (width<=720px)) {
  .content-shared-with-mental-health-expert-posts {
    margin-left: -0.5rem;
  }
}

.content-shared-with-mental-health-expert-posts::-webkit-scrollbar {
  scrollbar-width: thin;
}

.content-shared-with-mental-health-expert-revoke-action {
  position: absolute;
  top: 10px;
  transform: scale(1.5);
  cursor: pointer;
  outline: none;
  border: none;
  color: #c93232;
  background: none;
}

.content-shared-with-mental-health-expert-revoke-action:hover {
  color: #b30000;
}

@keyframes zoom {
  0% {
    width: 250px;
    min-width: 250px;
    transform: scale(1);
    opacity: 1;
    transform-origin: 125px 125px;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    width: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    transform: scale(0);
    opacity: 0;
  }
}

.zoom {
  animation: zoom forwards 0.7s ease-out 1;
}

.content-shared-with-mental-health-expert-description {
  font-family: 'SansDeva';
}
