.reset-password-link {
  font-family: 'SansDeva';
  font-size: 0.87rem;
}

#reset-password-main-container {
  max-width: 600px;
  margin-inline: auto;
  margin-top: 2rem;
}

.reset-password-header > h1 {
  font-family: 'SansDeva';
  text-align: center;
}

.confirmation-password-main-container {
  margin-top: 1rem;
}

.confirmation-password-main-container div .form-field-label,
.confirmation-password-main-container div .form-field-label + * {
  display: none;
}

.confirmation-password-main-container .password-container {
  border: none;
}

.confirmation-password-type {
  display: none;
}

.reset-password-action-container {
  margin-top: 1rem;
}

.reset-password-save-changes-button {
  max-width: 300px;
  padding: 0.7rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  transition: 300ms;
  cursor: pointer;
  color: #f3f1e3;
  background: #edb572;
}

.reset-password-save-changes-button:hover {
  background: #d8a668;
}
