#reset-password-main-container {
  max-width: 600px;
  margin-inline: auto;
  margin-top: 2rem;
}

.reset-password-header > h1 {
  font-family: 'SansDeva';
  text-align: center;
}

.confirmation-password-main-container {
  margin-top: 2rem;
}

.confirmation-password-main-container div .form-field-label,
.confirmation-password-main-container div .form-field-label + * {
  display: none;
}
