.mental-expert-dashboard {
  max-width: 100vw;
  min-height: 100vh;
  margin-inline: -2rem;
  padding-inline: 2rem;
  background: #cce5f1;
}

#sharing-users-main-container {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  margin-inline: -2rem;
  /* border: 1px solid beige; */
  /* background: red; */
}

.sharing-users-main-content-container {
  padding: 1.5rem;
}

@media (width<=550px) {
  .sharing-users-main-content-container {
    display: none;
  }
}

.sharing-users-main-content-container-hidden {
  display: none;
}
