.login {
  min-height: 100vh;
  position: relative;
  /* width: 50%; */
  margin: 2rem auto 0 auto;
  /* display: flex; */
  /* background: #f00; */
}

.login-container {
  max-width: 550px;
  margin-inline: auto;
  padding: 1rem 1.5rem 0 1.5rem;
}

.login-container > h1 {
  max-width: 550px;
  margin-block: 0rem;
  font-family: 'SansDeva';
  /* font-family: 'Klee One'; */
  font-size: 2rem;
  font-weight: 100;
  line-height: 3rem;
  text-align: center;
  color: #edb572;
}

@media (width<=520px) {
  .login-container > h1 {
    max-width: 670px;
    margin-inline: -2rem;
    font-family: 'SansDeva';
    font-size: 1.4rem;
    line-height: 1.3;
  }
}

.login-container > h1:first-of-type {
  margin-bottom: 0.8rem;
  font-size: 2.2rem;
  font-weight: 600;
}

@media (width<=520px) {
  .login-container > h1:first-of-type {
    font-size: 1.8rem;
  }
}

.login-container .form-fields {
  margin-top: 1rem;
}

.register-link {
  font-family: 'SansDeva';
  font-size: 0.9rem;
  line-height: 1;
}

#login-container-button {
  border-radius: 0.3rem;
  margin-top: 20px;
  width: 50%;
  padding-block: 0.4rem;
  outline: none;
  border: none;
  background: #edb572;
  color: #f3f1e3;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'SansDeva';
  cursor: pointer;
}

#login-container-button:hover {
  background: none;
  border: 1px solid #edb572;
  color: #edb572;
}
