.automatic-connection-notifier-header-title {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  font-family: 'Overlock';
  color: #8bb8da;
}

.automatic-connection-notifier-description {
  font-family: 'SansDeva';
  font-size: 1.05rem;
  line-height: 1.5;
  text-align: justify;
}

.automatic-connection-notifier-description-fullname {
  font-weight: 700;
  color: #34688f;
}

.automatic-connection-notifier-action {
  padding: 0.3rem 1.5rem;
  border: none;
  border-radius: 0.4rem;
  font-family: 'SansDeva';
  font-size: 1rem;
  line-height: 1.4;
  outline: none;
  cursor: pointer;
  transition: 150ms;
}

.automatic-connection-notifier-action-close {
  color: #f3f1e3;
  background: #edb572;
}

.automatic-connection-notifier-action-close:hover {
  background: #cd9d63;
}
