.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(238, 237, 237);
}

.loader-box-room {
  width: 20vw;
  height: 30vh;
  /* background: lightgray; */
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@keyframes loading {
  0% {
    position: relative;
    top: 0;
    left: 0;
  }
  25% {
    position: relative;
    top: 0;
    left: calc(100% - 1.5rem);
    background: #9e9e9e;
    transform: rotate(90deg);
  }
  50% {
    position: relative;
    top: calc(100% - 1.5rem);
    left: calc(100% - 1.5rem);
    background: #999999;
    transform: rotate(180deg);
  }
  75% {
    position: relative;
    left: 0;
    top: calc(100% - 1.5rem);
    background: #424242;
    transform: rotate(270deg);
  }
  100% {
    position: relative;
    top: 0;
    left: 0;
    background: #000000;
    transform: rotate(360deg);
  }
}

.loader-box {
  width: 1.5rem;
  height: 1.5rem;
  background: #5eba69;
  animation-name: loading;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loading-text-container > p {
  width: fit-content;
  padding: 0.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Klee One';
  font-size: 1.2rem;
  color: #920d0d;
  font-weight: 600;
}
