#register-choose-subscription-plan-main-container {
  min-height: 100vh;
  margin-inline: -2rem;
  /* margin-top: -2rem; */
  padding-inline: 2rem;
  /* padding-bottom: 2rem; */
  background: #cce5f1;
}

@media (width<=800px) {
  #register-choose-subscription-plan-main-container {
    padding-bottom: 5rem;
  }
}

@media (width<=590px) {
  #register-choose-subscription-plan-main-container {
    padding-inline: 0rem;
  }
}

.register-choose-subscription-plan-container {
  /* max-width: 800px; */
  margin-inline: 2rem;
  /* border: 1px solid red; */
}

@media (width<=590px) {
  .register-choose-subscription-plan-container {
    margin-inline: 0rem;
    /* padding-inline: 1rem; */
  }
}

.register-choose-subscription-plan-header {
  padding-block: 4rem;
}

@media (width<=590px) {
  .register-choose-subscription-plan-header {
    padding-block: 4rem 1rem;
  }
}

.register-choose-subscription-plan-header-title {
  margin-block: 0.5rem;
  font-family: 'SansDeva';
  line-height: 1.4;
  text-align: center;
}

.register-choose-subscription-plan-header-subtitle {
  margin-block: 0.5rem;
  font-family: 'SansDeva';
  line-height: 1.4;
  text-align: center;
}

.register-choose-subscription-plan-plans-container {
}

.register-choose-subscription-plan-actions-container {
  max-width: 600px;
  margin-top: 2rem;
  position: relative;
  margin-inline: auto;
  /* border: 1px solid red; */
}

@media (width<=800px) {
  .register-choose-subscription-plan-actions-container {
    max-width: 400px;
    margin-top: 2rem;
    text-align: center;
  }
}

@media (width<=420px) {
  .register-choose-subscription-plan-actions-container {
    margin-inline: 0.5rem;
  }
}

.register-choose-subscription-plan-action-register {
  /* max-width: 200px; */
  max-width: 200px;
  width: 100%;
  position: absolute;
  right: -6rem;
  padding-block: 1rem;
  font-family: 'SansDeva';
  font-size: 0.9rem;
  line-height: 1.4;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 150ms;
  color: #f3f1e3;
  background: #edb572;
}

@media (width<=890px) {
  .register-choose-subscription-plan-action-register {
    right: 0rem;
  }
}

.register-choose-subscription-plan-action-register:hover {
  background: #d8a668;
}
