.dashboard-filter-container {
  max-width: 700px;
  min-height: 60px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
  background: #f3f1e3;
}

.dashboard-filter-container h3 {
  margin: 0.2rem 0.5rem;
  font-family: 'SansDeva';
  font-size: 1.3rem;
  font-weight: 400;
  color: #000;
}

.filter-by-month {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  margin-inline: 0.5rem;
}

.filter-by-month > p {
  font-family: 'SansDeva';
  font-size: 1rem;
}

select[name='filter-by-month'] {
  max-width: 160px;
  width: 100%;
  margin-left: 0.5rem;
  padding-block: 0.5rem;
  font-family: 'SansDeva';
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f3f1e3;
  background: #edb572;
}

@media (width<327px) {
  select[name='filter-by-month'] {
    margin: 0rem;
  }
}
